@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
:root{
    --primary-font:'Quicksand', sans-serif;
    --body-color: #1c1c1c;
    --font-color: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    font-family: var(--primary-font);
    background: var(--body-color);
    color: var(--font-color);
}
svg{
    width: 25px;
    height:25px;
    fill: var(--font-color);
    transition: transform 0.4s ease-in;
}
section{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--font-color);
    cursor: pointer;
}
.question{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.question h3{
    font: 1.8rem;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height .6s ease;
}
.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}
.faq.active .answer{
    max-height: 300px;
    animation: fade .9s ease-in-out;
}
.faq.active svg{
    transform: rotate(180deg);
}

@keyframes fade{
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to{ 
        opacity: 1;
        transform: translateY(0px);
    }
}