*{
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    height: 100vh;
}
.accordion{
    margin-bottom: 0.625rem;
}
.question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0.265rem;
    border: 1px solid #ded0d0;
    cursor: pointer;
    transition: all 0.5s ease;
}
.answer{
    max-height: 0;
    overflow: hidden;
}
.accordion.active .answer{
    max-height: 500px;
    overflow: visible;
}

.accordion.active{
    
}