.contact-content{
    /* background-color: rgb(211 210 248); */
    display: block;
    height: 100vh;
    padding: 10px;
    position: relative;
}
.contact-content::after{
    content:  "";
    position: absolute;
    background-image: url('../img/pexels-vlada-karpovich-4050347.jpg'); 
    background-size: cover;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.contact-content h2{
    margin-bottom: 10px;
}